<div class="form-group row form-select" [formGroup]="group">
    <label for="{{ config.name }}" class="col-12 col-md-2 col-form-label">
        {{ config.label }}
    </label>
    <div class="col-12 col-md-10">
        <dx-select-box
            class="form-control"
            width="100%"
            [formControlName]="config.name"
            [dataSource]="dataSource"
            [displayExpr]="config.options['value']"
            [valueExpr]="config.options['key']"
            [placeholder]="config.placeholder"
            (onOpened)="onDropdownOpened()"
        ></dx-select-box>
    </div>
</div>
