$scroll-size-horizontal: 10px;
$scroll-size-veritcal: 10px;
$color-clear: transparent;
$color-base: #ffffff;
$color-bg-page-border: #cbcfd5;
$color-mid: #888;
$color-primary: #274ac9;

.form-search {
    .input-group-text {
        padding: 0 0.75rem;
    }
    .input-group-prepend {
        margin-right: -2px;
        border-right-width: 0;
    }
    .form-control {
        height: 100%;
        border-radius: 0;
    }
}

.dx-button {
    background-color: #f5f5f5;
    border-radius: 0;
}

.dx-button-mode-contained.dx-state-focuse,
.dx-button-mode-contained.dx-state-active {
    background-color: #fff;
}

.arrow_box {
    // position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ddd;
    max-height: 520px;
    min-height: 520px;
}
.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: calc(5% - 5px);
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #ddd;
    border-width: 11px;
    margin-left: -11px;
}

.mt--15 {
    margin-top: -15px !important;
}

.filter-dynamic-form {
    position: relative;
    .filter-advanced-content {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        padding: 1em;
        z-index: 9;
        &.box-shadow {
            -webkit-box-shadow: #ebebeb 0px 2px 2px 0px;
            -moz-box-shadow: #ebebeb 0px 2px 2px 0px;
            box-shadow: #ebebeb 0px 2px 2px 0px;
        }
    }
}

@mixin scroll-bar-style {
    ::-webkit-scrollbar {
        height: $scroll-size-horizontal;
        width: $scroll-size-veritcal;
    }

    ::-webkit-scrollbar-track {
        background-color: $color-clear;

        &:hover {
            background-color: $color-base;
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color-bg-page-border;
        border-radius: 10px;

        &:hover {
            background-color: $color-mid;
        }
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}

@include scroll-bar-style();
