<div class="form-group row form-select" [formGroup]="group">
    <label for="{{ config.name }}" class="col-12 col-md-2 col-form-label">
        {{ config.label }}
    </label>
    <div class="col-12 col-md-10">
        <!-- <select [formControlName]="config.name" class="form-control">
            <option value="">{{ config.placeholder }}</option>
            <option *ngFor="let option of config.options">
                {{ option }}
            </option>
        </select> -->
        <dx-select-box
            class="form-control"
            width="100%"
            showClearButton="true"
            [formControlName]="config.name"
            [dataSource]="config.options['data']"
            [displayExpr]="config.options['value']"
            [valueExpr]="config.options['key']"
            [placeholder]="config.placeholder"
            [value]="config.value"
        ></dx-select-box>
    </div>
</div>
